.ka-h1{
    font-family: 'Source Serif Pro', 'Noto Serif', 'serif';
    font-weight: 600;
    font-size: 30px;
    color: rgb(33, 36, 44);
    line-height: 35px;
    display: block;
    padding-left: 10px;
    }
    
    .ka-description{
        font-weight: 400;
        line-height: 22px;
        font-size: 14px;
        
    }
    
    .ka-description--first{
        color: rgb(33, 36, 44);
        margin-top: 26px;
        margin-bottom: 16px;
        font-family: "Lato";
    }


    .ka-description-small{
        font-weight: 400;
        line-height: 15px;
        font-size: 11px;
        letter-spacing: 1px;
        
    }

    .ka-description-small--modifier{
        color: rgb(84, 85, 85);
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .ka-btn{
        display: inline-flex !important;
        align-items: center !important;
        -webkit-justify-content: center !important;
        justify-content: center !important;
        height: 60px !important;
        text-align: center;
        border: none !important;
        border-radius: 4px !important;
        cursor: pointer !important;
        outline: none !important;
        font-size: 17px;
        font-weight: bold;
        background: #1865f2 !important;
        color: #ffffff !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
        width: 217px;
    }
    
    .ka-btn--modifier{
        width: 260px;
        margin-bottom: 10px;
        }

        .ka-btn-small--modifier2{
            width: 260px;
            background: white;
            border-color: white;
           
            display: inline-flex !important;
        height: 40px !important;
        text-align: center;
        cursor: pointer !important;
        font-size: 15px;
        font-weight: bold;
        color: #1404f3 !important;
        padding-left: 13px !important;
        padding-right: 13px !important;

        }

    .ka-btn-small{
        display: inline-flex !important;
        height: 40px !important;
        text-align: center;
        cursor: pointer !important;
        font-size: 15px;
        font-weight: bold;
        color: #ffffff !important;
        padding-left: 13px !important;
        padding-right: 13px !important;
        
    }

    .ka-btn-small-modifier{
        margin-top: 20px;
        width: 170px;
    }

    .ka-btn-small--modifier1{
        margin-top: 35px;
        width: 185px;
    }
     
    

    .ka-banner-img{
     width: 140%;
    }

    .ka-banner-img--modifier{
        margin-bottom: 40px;
    }
    .ka-banner-img--modifier1{
        margin-bottom: 40px;
        width: 152%;
        margin-left: -20px;
    }
    .ka-banner-img--modifierThis{
        width: 100% !important;
    }

    .ka-subheading{
       margin-bottom: 37px;
       color: rgba(33, 36, 44, 0.64);
       display: block;
       font-family: 'Lato', "Noto Sans", sans-serif;
       font-size: 14px;
       font-weight: 400;
       height: 18px;
       letter-spacing: 1.4px;
       line-height: 18px;
    }

    .ka-quote{
       font-family: 'Source Serif Pro', 'Noto Serif', 'serif';
       font-size: 24px;
       font-weight: 400;
       letter-spacing: -0.1px;
       line-height: 32px;
       text-indent:-8.4px;
    }

    .ka-quote--modifier{
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 24px;
        margin-top: 150px;
    }

    .ka-author{
       color: rgd(68, 68, 68);
       font-family: 'Lato', "Noto Sans", sans-serif;
       font-size: 13px;
       font-weight: 700;
       letter-spacing: 1.3px;
       line-height: 25px;
    }

    .ka-author--modifier{
        margin-bottom: 0px;
        margin-top: 70px;
        text-align: right;
        margin-right: 0px;
    }

    .ka-author-place{
         font-style: italic;
         color: rgd(68, 68, 68);
         font-family: 'Lato', "Noto Sans", sans-serif;
         font-weight: 400;
         font-size: 14px;
         line-height: 19.6px;
         text-align: right;
    }
    .ka-sec-mar{
        margin-top: 100px;
    }
.ka-quote-sec{
    background-color:  #F7F5F4; 
    padding-bottom: 150px;
     margin-bottom: 100px;
}
   .ka-author-img{
       width:80%;
       margin-top: 30px;
       margin-right: 100px;
   } 
    
   .ka-h2{
       font-family: 'Source Serif Pro', 'Noto Serif', 'serif';
       font-size: 30px;
       font-weight: 600;
       letter-spacing: -0.1px;
       line-height: 35px;
       padding-left: 50px;
       padding-right: 50px;
       text-align: center;
       margin-bottom: 40px;
       margin-top: 100px;
   }

   .ka-bgimg{
    background-image: url(./asset/bkimg.jpeg); 
    background-repeat: no-repeat;
    background-size: 1000px 250px;
    height: 600px; 
    background-position: center;
   }

   .ka-logo{
    background-color:  #F7F5F4;
    text-align: center;
    padding-top: 100px;
    margin-top: 200px;
   }

   .ka-logo1{
    height: 20px;
    width: 160px; 
    margin-bottom: 50px;
   }

   .ka-logo2{
    height: 25px; 
    margin-bottom: 50px; 
    width: 130px;
   }
   
   .ka-logo3{
    height: 15px;
    width: 150px; 
    margin-bottom: 50px;

   }

   .ka-logo4{
    height: 35px;
    width: 180px; 
    margin-bottom: 50px;

   }

   .ka-logo5{
    height: 40px;
    width: 130px;
     margin-bottom: 50px;

   }

   .ka-logo6{
    height: 20px;
    width: 190px;
     margin-bottom: 50px;

   }
   .ka-logo7{
    height: 18px; 
    margin-bottom: 25px;
    width: 110px;

   }
   .ka-logo8{
    height: 30px;
    width: 120px; 
    margin-top: 40px; 
    margin-bottom: 100px;

   }

   .ka-hr{
    height:1px; 
    border-width:0; 
    background-color:rgb(8, 8, 8); 
    margin-top: -34px; 
    margin-left: 30px; 
    margin-right: 30px;"
   }
   
   .ka-logo10{
    height: 40px; 
    width: 100px; 
    margin-bottom: 50px;
   }
   .ka-logo11{
    height: 25px; 
    width: 100px; 
    margin-bottom: 50px;

   }
   .ka-logo12{
    height: 25px; 
    width: 150px; 
    margin-bottom: 50px;

    
   }
   .ka-logo13{
    height: 30px; 
    width: 90px; 
    margin-bottom: 90px;

   }

   .ka-h2--modifier{
       font-family: 'Source Serif Pro', 'Noto Serif', 'serif';
       font-size: 22px;
       font-weight: 525;
       line-height: 30px;
       text-align: center;
       padding-left: 45px;
       padding-right: 45px;
       margin-top: 50px;
   }
   html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.ka-sm-author-img{
    width: 100%;
}







/*--------G---------------*/
.h2-style{
    padding-bottom: 80px;
    padding-top: 40px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.1px;
    
    }
.section-headings{
    padding-bottom:20px;
    padding-top: 20px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.1px;
}
.btn-primary--modifier{
    background-color: rgb(242, 24, 115);
}

.logo{
    width: 115%;
    cursor: pointer;
    padding-top: 13px;
    float: left;
}
.row1{
    height: 61px;
    width: 110%;
    background-color: rgb(250, 250, 250);
    float: left;
}
.fa-search{
    float:right;
    padding: 20px;
    padding-right: 10px;
    
    
    color:rgb(24, 101, 242);
}
.fa-bars{
    float:right;
    padding: 20px;
    padding-right: 7px;
    font-size: 20px;
    color:rgb(24, 101, 242);
}
.searchicon{
    float:right;
    padding: 15px;
    padding-right: 13px;
    color:rgb(24, 101, 242);
}
.body-section2{
    background-color: rgb(247, 245, 244);
}
.footer-paragraph{
color:rgb(130, 149, 186);
font-family: 'Lato', sans-serif;
font-size: 20px;
line-height: 30px;
max-width: 335px;
}
.footer-list--elements{
    color: white;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    width: 400px;
}
.ul{
    padding-inline-start: 20px ;
}
.footer-list--heading{
    color:rgb(130, 149, 186) ;
}
.card-smalltext{
    font-family: 'Lato', sans-serif;
    letter-spacing: -0.1px;
    line-height: 22px;

}
.h3-style{
    font-family: 'Source Serif Pro', serif;
}
.fa-angle-down{
    padding-left: 3px;
}
.btn-primary--modifier{
    width: 238px;
    height: 60px;
}
.h2-style{
    font-size: 31px;
    padding-left: 10px;
    margin-block-end: 8px;
    margin-block-start: 40px;
    margin-bottom: 8px;
    padding-top:100px;
    margin-top: -40px;
    padding-bottom: 115px;
}
.card-empty--modif{
    height: 95px !important;
}
.card-smalltext{
    font-size:14px;
    letter-spacing: 0.1px;
    }
.cards{
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom:120px;
    
}
.section4-image{
    width:100%;
}
.section2-smalltext{
    color:rgba(33, 36, 44, 0.64);
}
.footer-last{
    text-align: center;
}
.card-paragraph{
    width: 325px;
}
.h3-style{
    font-size: 25px;
    line-height: 30px;
}
.li-1{
    padding-bottom: 32px;
    width: 161px;
}
.li-1and2{
    float: left;
    padding-left: 0px !important;
}
.li-3{
    padding-top: 0.1px;
    padding-bottom:32px;
}

.footer-paragraph--seperation{
    height: 20px;
}
.footer-eng{
    color: white;
    padding-left: 5px;
    }
.footer-textandlink{
    padding-left: 110px;
    line-height: 19.6px;
    height:33px;
}
.footer-sm--3and4{
    padding-left: 0px !important;
}
.footer-country{
    padding-left: 50px;
}
.footer-icons--fb{
    color: white;
    width:50%;
}
.section-headings--modifier1{
    max-width: 260.8px;
}
.card-smalltext--modifier1{
    max-width: 245px;
}
.footer-align--modifier{
    
text-align: center;
}
.footer-fbicons{
    color: white;

}
.footer-xs--center{
    padding-left: 80px;
}
.section1{
    padding-bottom: 115px;
}

    